:root{
  --font-family: '-apple-system', 'system-ui', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
  --cor01: #fff;
  --cor15: #939393aa;
  --cor02: #8DC3F2;
  --cor03: #5CACF2;
  --cor35: #0583F2;
  --cor04: #00162a;
  --cor45: #36424e88;
  --cor05: #0D0D0D;
}

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: var(--font-family);
}

header{
  background-color: var(--cor04);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-bottom: 10px;
  width: 100%;
}

.logo{
  height: 40px;
}

a{
  text-decoration: none;
}

.row{
  margin-bottom: 10px;
}

.main-article{
  height: 300px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(/informa-site/imagens/imagem-tecnologia.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  border: 1px solid rgba(128, 128, 128, 0.541);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 2rem;
  color: var(--cor01);
}

sidenav{
  background-color: rgba(169, 169, 169, 0.337);
  border-radius: 5px;
  box-shadow: rgba(169, 169, 169, 0.337) 0px 0px 10px;
}

.em_alta{
  cursor: pointer;
}


.alta{
  height: 100px;
  display: flex;
  text-align: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.541);
}

.alta > p{
  color: var(--cor04);
  text-align: start;
  margin: auto;
  font-weight: 500;
  font-size: 1rem;
}

.alta-6{
  border-bottom: none;
}

.article{
  margin: 6px 0px;
  height: 120px;
  padding: 5px;
  display: flex;
  background-color: rgba(169, 169, 169, 0.337);
  border-radius: 5px;
  box-shadow: rgba(169, 169, 169, 0.481) 0px 0px 2px;
}

.article > p{
  display: flex;
  flex-direction: column;
  width: 73%;
}

.article p{
  font-size: 1em;
  font-weight: 600;
  text-align:start;
  color: var(--cor04);
}

.article > p > span{
  color: var(--cor15);
  font-size: 1em;
  text-align: start;
  margin-top: 3%;
}

.materia-3{
  border-bottom: none;
}

.img-materia{
  width: 23%;
  margin: auto 2%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  height: 65%;
  border-radius: 3px;
}


.main > p, h1{
  margin-left: 2%;
  font-weight: 600;
  color: var(--cor01);
}

.main > p{
  font-size: 2em;
  text-align: start;
  text-shadow: 0 0 10px var(--cor05);
}

.main-3{
  height: 250px;
  border-radius: 5px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(/informa-site/imagens/image-g1cb7c885a_640.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: none;
  margin-bottom: 10px;
}

.main-4{
  height: 250px;
  border-radius: 5px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(/informa-site/imagens/download.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: none;
}

footer{
  margin-top: 10px;
  background-color: var(--cor04);
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--cor01);
}

footer a{
  color: var(--cor01);
  margin: 10px;
}